## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## SQL CE database (auto-created by app)
*.sdf

## Rider
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Logs
*.log

## User-specific
*.sln.docstates
*.userprefs

## Credentials / Secrets
credentials.json
